.TodoItem {
  display: flex;
  align-items: center;
  gap: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid rgb(240, 240, 240);
}

.TodoItem input {
  width: 20px;
}
.TodoItem input[type="text"] {
  width: 50%;
  border: none;
  padding: 15px 0px;
}

.TodoItem input[type="text"]:focus {
  outline: none;
}

.TodoItem .content {
  flex: 1;
}
.TodoItem .cancelContent {
  flex: 1;
  text-decoration-style: solid;
  text-decoration: line-through;
}

.TodoItem .date {
  font-size: 14px;
  color: gray;
}

.TodoItem button {
  cursor: pointer;
  color: gray;
  font-size: 14px;
  border: none;
  border-radius: 5px;
  padding: 5px;
}
